body {
  margin: 0;
  background:url("../images/fondoWeb.png") no-repeat center center fixed;
  background-size: cover;

}

#my-canvas {
  background-color: rgb(147, 212, 16);
}

#start-btn,
#restart-btn {
  color: rgb(0, 0, 0);
font-size: 20px;
padding: 10px;
text-shadow: 0px -2px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
background: rgb(72, 255, 0);
background: -moz-linear-gradient(90deg, rgb(72, 255, 0) 30%, rgb(250, 255, 20) 100%);
background: -webkit-linear-gradient(90deg, rgb(72, 255, 0) 30%, rgb(250, 255, 20) 100%);
background: -o-linear-gradient(90deg, rgb(72, 255, 0) 30%, rgb(250, 255, 20) 100%);
background: -ms-linear-gradient(90deg, rgb(72, 255, 0) 30%, rgb(250, 255, 20) 100%);
background: linear-gradient(0deg, rgb(72, 255, 0) 30%, rgb(250, 255, 20) 100%);
-webkit-box-shadow: 0px 14px 30px rgba(0, 50, 50, 1);
-moz-box-shadow:    0px 14px 30px rgba(0, 50, 50, 1);
box-shadow:         0px 14px 30px rgba(0, 50, 50, 1);

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas,
#gameover-screen,
#score, #scoreCafe{
  display: none;
}

#score {
  font-size: 25px;
}

