body {
  margin: 0;
  background:url("../images/fondoWeb.png") no-repeat center center fixed;
  background-size: cover;

}

#my-canvas {
  background-color: rgb(147, 212, 16);
}

#start-btn,
#restart-btn {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas,
#gameover-screen,
#score, #scoreCafe{
  display: none;
}

#score {
  font-size: 25px;
}

